{% extends "base.html" %}

{% block content %}
	<h1>{{ member.username }}의 프로필 페이지</h1>
	<div>
		<p>username : {{ member.username }}</p>
        <p>가입일 : {{ user.date_joined }}</p>
        <a href="{% url "users:my_product" member.username %}">내가 쓴 게시물</a>
        {% if request.user != member %} 
        <form action="{% url "users:follow" member.pk %}" method="post">
            {% csrf_token %}
            {% if request.user in member.followers.all %}
            <input type="submit" value="언팔로우">
            {% else %}
            <input type="submit" value="팔로우">
            {% endif %}
        {% endif %}
        </form>
	</div>
    <a href="{% url "accounts:update" %}">회원정보수정</a>
    <form action="{% url "accounts:delete" %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="회원탈퇴"></input>
    </form>
	<a href="/index/">홈으로 돌아가기</a>
{% endblock content %}