{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
    .banner-container {
        max-width: 100%;
        text-align: center; 
        margin-bottom: 2rem;
    }
    
    .banner-container img {
        width: 60%; 
        height: auto; /
        max-width: 1000px;
    }
    
    .product-form {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1.5px solid #b3b3b3;
        border-radius: 8px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
    
    .product-form input[type="text"],
    .product-form input[type="file"],
    .product-form select,
    .product-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        border: 1.5px solid #b3b3b3;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .product-form textarea {
        height: 120px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 20px;
    }

    .btn-primary {
        color: #ffffff;
        background-color: #8aa9e3;
        border-color: #cfcfcf;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 7px;
        cursor: pointer;
    }
    
    .btn-primary:hover {
        color: #ffffff;
        background-color: #5571b5;
        border-color: #5571b5;
    }
    
    .btn-outline-secondary {
        color: #ffffff;
        background-color: #949494;
        border: 1px solid #cfcfcf;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 7px;
        cursor: pointer;
    }
    
    .btn-outline-secondary:hover {
        color: #ffffff;
        background-color: #5b5b5c;
        border-color: #5b5b5c;
    }
    
</style>

{% endblock head %}

{% block content %}
    <div class="container mt-5">

        <div class="banner-container text-center mb-4">
            <img src="{% static 'products/create.png' %}" alt="create_banner" class="img-fluid">
        </div>

        <form action="{% url 'products:create' %}" method="POST" enctype="multipart/form-data" class="product-form mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-container">
                <button type="submit" class="btn btn-primary">저장하기</button>
                <a href="{% url "products:market" %}" class="btn btn-outline-secondary">Market 홈으로 돌아가기</a>
            </div>
        </form>
    </div>
{% endblock content %}
