{% extends "base.html" %}

{% block content %}

    <h2>[ Detail 페이지 ] 물건 상세 내용!!</h2>
    <h3>물건 이름 : {{ product.title }}</h3>
    <p>상세 내용 : {{ product.content }}</p>
    <p>물건 가격 : {{ product.price }}원</p>
    <p>작성 일시 : {{ product.created_at }}</p>
    <p>수정 일시 : {{ product.updated_at }}</p>
    <br>
    <a href="{% url "products:market" %}">Market 홈으로 돌아가기</a>
    
    <br>
    <a href="{% url "products:edit" product.pk %}">
        <button>수정하기</button>
    </a>
    
    <form action="{% url "products:delete" product.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제하기">
    </form>

{% endblock content %}