{% extends "base.html" %}

{% block content %}

    <h2>[ Market 페이지 ] 물건목록 보여줍니다!</h2>
    <form action="{% url "products:search" %}" method="GET">
        <input type="text" name="search">
        <button type="submit">search</button>
    </form>

    {% if request.user.is_authenticated %}
    
        <a href="{% url "products:create" %}">
            <button>물건 등록하기</button>
        </a>
    
    {% else %}

        <a href="{% url "accounts:login" %}">
            <button>로그인 후 물건 등록하기</button>
        </a>  
    
    {% endif %}

    {% for product in products %}

        <a href="{% url "products:detail" product.pk %}">
            <p>ㅇ 물건이름 : {{ product.title }}</p>
            <p>ㅇ 물건가격 : {{ product.price }}원</p>
        </a>
        <hr>

    {% endfor %}

{% endblock content %}