{% extends "base.html" %}
{% load static %}

{% block head %}
<style>            
    h1 {
        font-size: 2rem;
        font-weight: 900;
        color: #303030;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .col-md-4 {
        padding-left: 30px; 
        padding-right: 30px;
        padding-bottom: 30px;
    }

    .card-body {
        height: 90px;
    }

    .card-img-top {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .card-title {
        font-weight: 500;
        font-size: 1.2rem
        margin-bottom: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
    }

    .card-text {
        font-weight: 900;
        font-size: 1.1rem;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    .card-footer {
        display: flex;
    }

    .like-count button {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        margin-right: 25px;
    }

    .view-count {
        display: flex;
        align-items: center;
    }
    
    .like-count i,
    .view-count i {
        margin-right: 10px;
    }
    
    .like-count p,
    .view-count p {
        margin: 0;
        font-size: 1rem;
    }

    .banner-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    
    .container-fluid.mt-4 {
        margin-top: 0 !important;
        padding-left: 100px;
        padding-right: 100px;
        
    }

    .banner-image {
        width: auto;
        height: auto;
        display: block;
    }

    .d-flex.justify-content-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .order-by-container {
        flex: 1;
        text-align: left;
        align-items: center;
    }

    .order-by-container form {
        display: flex;
        align-items: center;
    }

    .order-by-container label {
        margin-right: 10px;
        white-space: nowrap;
    }
    
    .search-container {
        flex: 2;
        display: flex;
        justify-content: center;
    }

    .search-container input[type="text"] {
        width: 280px;
        max-width: 100%;
    }
    
    .add-item-container {
        flex: 1;
        text-align: right;
    }
</style>

{% endblock head %}

{% block content %}
    <div class="container-fluid p-0 mt-0">
        <div class="banner-container">
            <img src="{% static "products/market.png" %}" alt="spartamarket-banner" class="img-fluid">
        </div>
    </div>

    <div class="container mt-4">
        <h1 class="text-center mb-4">#중고거래  #새주인님찾아요</h1>

        <div class="d-flex justify-content-between mb-4">
            <div class="order-by-container d-flex align-items-center">
                <form action="{% url 'products:market' %}" method="GET" class="form-inline">
                    <label for="order_by" class="mr-2">정렬:</label>
                    <select id="order_by" name="order_by" class="form-control" onchange="this.form.submit()">
                        <option value="-pk" {% if request.GET.order_by == "-pk" %}selected{% endif %}>최신순</option>
                        <option value="-like_count" {% if request.GET.order_by == "-like_count" %}selected{% endif %}>인기도순</option>
                    </select>
                </form>
            </div>
        
            <div class="search-container">
                <form action="{% url 'products:search' %}" method="GET" class="d-flex">
                    <input type="text" name="search" class="form-control mr-2" placeholder="물건이나 판매자를 검색해보세요!">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <div class="add-item-container">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'products:create' %}" class="btn btn-outline-secondary">물건 등록하기</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">로그인 후 물건 등록하기</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">

                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}_image">
                        {% else %}
                        <img src="{% static 'products/no_image.png' %}" class="card-img-top" alt="no_image">
                        {% endif %}

                        <div class="card-body">
                            <a href="{% url "products:detail" product.pk %}" class="text-dark text-decoration-none">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{ product.price }}원</p>
                                <ul class="list-inline">
                                    {% for hashtag in hashtags %}
                                        <li class="list-inline-item">#{{ hashtag.keyword }}</li>
                                    {% endfor %}
                                </ul>
                            </a>
                        </div>
                        <div class="card-footer text-right">
                            <form action="{% url "products:like" product.pk %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <span class="like-count">
                                    {% if request.user in product.like_users.all %}
                                        <button class="btn btn-link text-danger">
                                            <i class="fa-solid fa-heart"></i><p>{{ product.like_count }}</p>
                                        </button>
                                    {% else %}
                                        <button class="btn btn-link text-danger">
                                            <i class="fa-regular fa-heart"></i><p>{{ product.like_count }}</p>
                                        </button>
                                    {% endif %}
                                </span>
                            </form>
                            <span class="view-count">
                                <i class="fa-solid fa-eye"></i><p>{{ product.views }}</p>
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
