{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>[ Market 페이지 ] 물건목록 보여줍니다!</h2>
    <img src="{% static "products/banner.png" %}" alt="spartamarket-banner" style="width:1000px"><br><br>

    <form action="{% url "products:search" %}" method="GET">
        <input type="text" name="search">
        <button type="submit">search</button>
    </form>
    <form action="{% url 'products:market' %}" method="GET">
        <label for="order_by">정렬 기준:</label>
        <select id="order_by" name="order_by" onchange="this.form.submit()">
            <option value="-pk" {% if request.GET.order_by == "-pk" %}selected{% endif %}>최신순</option>
            <option value="-like_count" {% if request.GET.order_by == "-like_count" %}selected{% endif %}>인기도순</option>
        </select>
    </form>
    {% if request.user.is_authenticated %}
        <a href="{% url "products:create" %}">
            <button>물건 등록하기</button>
        </a>
    {% else %}
        <a href="{% url "accounts:login" %}">
            <button>로그인 후 물건 등록하기</button>
        </a>   
    {% endif %}

    {% for product in products %}
        <a href="{% url "products:detail" product.pk %}">
            <p>ㅇ 물건이름 : {{ product.title }}</p>
            <p>ㅇ 물건가격 : {{ product.price }}원</p>
            <ul>
                {% for hashtag in hashtags %}
                    <li>#{{ hashtag.keyword }}</li>
                {% endfor %}
            </ul>
        </a>

        <form action="{% url "products:like" product.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in product.like_users.all %}
                <button class="btn btn-link text-danger">
                    <i class="fa-solid fa-heart"></i>
                </button>
            {% else %}
                <button class="btn btn-link text-danger">
                    <i class="fa-regular fa-heart"></i>
                </button>
            {% endif %}
        </form>
        <hr>

    {% endfor %}

{% endblock content %}